* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body {
    background: #F2F3F5;
}

#sidebar {
    transition: all 0.3s linear;
    padding-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    position: fixed;
    width: 400px;
    height: 100%;
    /* background: #d83232; */
    left: -400px;
}

#sidebar.active {
    left: 0;
}

#sidebar ul li {
    color: rgba(230, 230, 230, 0.9);
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);
    padding: 20px;
    margin-right: 50px;
}

#sidebar .toggle-btn {
    position: relative;
    left: 1375px;
    top: 20px;
}

#sidebar .toggle-btn span {
    display: block;
    width: 30px;
    height: 5px;
    background: #d83232;
    margin: 4px 0px;
}